/*-----------------------------------------------------------------------------
 *           $HTML-TAGS            
 *---------------------------------------------------------------------------*/
/*--- CODE ---*/
pre,
code {
  font-family:"Inconsolata", "Monaco", "Consolas", "Courier New", Courier, monospace;
}

pre {
  overflow:auto;
  line-height:24px; /* Having to define explicit pixel values :( */
}

strong,
b,
mark {
  font-family: 'LatoBold';
  font-style:inherit;
  font-weight:bold;
}
      
/*-----------------------------------------------------------------------------
 *           $SHARED            
 *---------------------------------------------------------------------------*/
/* Horizontal navigation */
.nav {
  list-style:none;
}

.nav li {
  display:inline;
}

.nav a {
  display:inline-block;
}

/* Media object */
.media {
  display:block;
}

.media .img {
  float:left;
  margin-right:10px;
}

.media .body {
  overflow:hidden;
  margin-bottom:0;
}
            
/*-----------------------------------------------------------------------------
 *           $HEADER-TOP            
 *---------------------------------------------------------------------------*/
.header-top {
  background: #C9CB00;
  margin-top: 48px;
  padding: 0.688em 0;
}
 
.header-top a {
  color: #1f4779;
  text-decoration: none;
}

.header-top .menu {
  text-transform: uppercase;
}

.header-top .menu li {
  border-right: 1px #FFF solid;
  padding: 0 0.5em 0 0.3em;
}

.header-top .menu li.last {
  border-right: none;
}

/*-----------------------------------------------------------------------------
 *           $BRANDING            
 *---------------------------------------------------------------------------*/
.logo {
  text-align: center;
}
 
/*-----------------------------------------------------------------------------
 *           $NAVIGATION            
 *---------------------------------------------------------------------------*/
.primary-navigation {
  background: #666;/* DELETE */
  font-size: 1.250rem;
  font-size: 20px;
  text-decoration: none;
  margin-top: 2.875em;
  margin-bottom: 2.875em;
}
 
.primary-navigation a {
  color: #FFF;
}
/*-----------------------------------------------------------------------------
 *           $MAIN-CONTENT            
 *---------------------------------------------------------------------------*/
.main {
  background: #f1f0d9;
  padding: 40px 0 30px;
  padding: 2.500rem 0 1.875rem;
}
 
/*-----------------------------------------------------------------------------
 *           $FOOTER            
 *---------------------------------------------------------------------------*/
.footer-container {
  background: #f1f0d9;
}
 
